@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --azul: hsl(238, 29%, 16%);
    --vermelho: hsl(14, 88%, 65%);
    --gradientroxo: hsl(273, 75%, 66%);
    --gradientazul: hsl(240, 73%, 65%);
    --texto: hsl(237, 12%, 33%);
    --subtexto: hsl(240, 6%, 50%);
    --divisao: hsl(240, 5%, 91%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-image: linear-gradient(var(--gradientroxo), var(--gradientazul));
    font-size: 0.8rem;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.caixa {
    background-color: white;
    width: 350px;
    height: 600px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: width 0.3s ease-out;
}

.imagens-mobile {
    background-color: antiquewhite;
    height: 0px;
}

.mulher {
    position: relative;
    width: 250px;
    top: -110px;
    left: 125px;
    z-index: 2;
}

.sombra {
    position: relative;
    width: 250px;
    top: -80px;
    left: -125px;
    z-index: 1;
}

.mulher-pc {
    display: none;
}

.sombra-pc {
    display: none;
}

.caixaimagem {
    display: none;
}

.main {
    width: 300px;
    margin-top: 150px;
}

.seta {
    height: 100%;
    margin: auto 0;
}

h1 {
    text-align: center;
    font-size: 2rem;
    color: var(--azul);
    position: relative;
    top: 175px;
}

h2 {
    display: flex;
    justify-content: space-between;
    color: var(--texto);
    font-weight: 400;
    font-size: 0.95rem;
    margin-top: 25px;
    margin-bottom: 5px;
}

h2:hover {
    cursor: pointer;
    color: var(--vermelho);
}

p {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    font-size: 0.8rem;
    color: var(--subtexto);
}

hr {
    border: none;
    background-color: var(--divisao);
    width: 300px;
    height: 1px;
    margin: 15px auto;
}

@media screen and (max-width: 450px) {
    .mulher {
    position: relative;
    width: 250px;
    top: -110px;
    left: 80px;
    z-index: 2;
}

.sombra {
    position: relative;
    width: 250px;
    top: -195px;
    left: 80px;
    z-index: 1;
}
}

@media screen and (min-width: 1200px) {
    .caixa {
        width: 1000px;
        height: 550px;
        flex-direction: row;
    }

    .main {
        width: 400px;
        margin-top: 110px;
    }

    hr {
        width: 400px;
    }

    h1 {
        position: relative;
        top: 120px;
        left: 85px;
    }

    .imagens-pc {
        width: 500px;
        height: 550px;
        display: block;
        margin-bottom: 0px;
    }

    .mulher {
        display: none;
    }
    
    .sombra {
        display: none;
    }
    
    .mulher-pc {
        display: block;
        position: relative;
        left: -90px;
        top: 100px;
        width: 500px;
        z-index: 2;
    }
    
    .sombra-pc {
        display: block;
        position: relative;
        top: -550px;
        left: -440px;
        width: 850px;
        z-index: 1;
    }
    
    .caixaimagem {
        display: block;
        position: relative;
        top: -305px;
        left: -180px;
        z-index: 3;
    }

    .overflowbox {
        overflow: hidden;
        width: 1000px;
        height: 100%;
        margin-left: -50px;
    }
}